@font-face {
  font-family: "mainFont";
  src: url("PixelOperator.ttf") format(truetype);
}

body {
  font-family: "mainFont";
  background-image: url("pixel_camp.jpg");
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-family: "mainFont";
  color: #4f2d59 !important;
  font-size: 50px;
}

span {
  font-weight: 500;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

.main {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  /* background-color: rgb(221, 221, 221); */
}

#sidebar {
  max-width: 200px;
  min-width: 200px;
  margin-left: -200px;
  transition: all 0.35s ease-in-out;
  display: flex;
  flex-direction: column;
  background-color: #341c4c;
  position: relative;
}

#sidebar.collapsed {
  margin-left: 0px;
}

.toggler-btn {
  padding-top: 20px;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.fa-star:hover {
  color: rgb(150, 93, 150);
  opacity: 50%;
  transition: 0.5s;
}

.toggler-btn i {
  font: 24px;
  color: rgb(240, 240, 240);
  font-weight: 1000;
}

.navbar {
  padding: 18px 24px;
  /* border-bottom: 2px dashed #b3a8a8; */
}

.sidebar-nav {
  flex: 1 1 auto;
}

.sidebar-logo {
  padding-top: 20px;
  padding: auto;
  font-weight: 800;
  text-align: center;
  font-size: 37px;
  font-family: "mainFont";
}

.sidebar-logo a {
  color: #fff;
  font-weight: 800;
  padding: 24px 24px 6px;
}

a.sidebar-link {
  padding: 10px 26px;
  color: #fff;
  position: relative;
  transition: all 0.35s;
  display: inline-block;
  font-size: 30px;
  font-family: "mainFont";
}

a:hover {
  color: rgb(150, 93, 150);
}

.sidebar-item {
  padding-top: 15px;
}

@media (max-width: 768px) {
  .sidebar-toggle {
    margin-left: -220px;
  }

  #sidebar.collapsed {
    margin-left: 0;
  }
}

#fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* settings.html */

.st-container {
  box-sizing: border-box;
  background-color: #8c8ca4;
  padding: 10px 30px;
  background: #ab9dc9 linear-gradient(135deg, #ab9dc9, #86759b);
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 1);

  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 500px;
  margin-top: 55px;

  font-family: "mainFont";
  font-size: 20px;
}

.toggle-container {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.toggle {
  width: 60px;
  height: 35px;
  border-radius: 40px;
  background-color: #fff;
  display: inline-block;
}

.toggle-c {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 5px;
  transition: 0.3s all;
  border: 1px solid #8c8ca4;
}

.st-container input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + div .toggle-c {
  left: 30px;
  background-color: #5e4080;
  border-color: #4f2d59;
}

/* login.html */

.lg-container {
  box-sizing: border-box;
  background-color: #8c8ca4;
  padding: 5px 20px;
  background: #ab9dc9 linear-gradient(135deg, #ab9dc9, #86759b);
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 1);

  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 500px;
  margin-top: 65px;

  font-family: "mainFont";
  font-size: 20px;
}

.lg-container a {
  color: #4f2d59;
  text-decoration: none;
}

.lg-container a:hover {
  text-decoration: underline;
}

.login form {
  display: flex;
  flex-direction: column;
}

.input-field {
  position: relative;
  margin: 20px 0;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: transparent;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #4f2d59;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}

.input-field input {
  width: 1000;
  height: 45px;
  border: rgb(85, 52, 101) line 5px;
  font-size: 18px;
  color: #4f2d59;
  font-family: "mainFont";
}

.forget {
  display: flex;
  align-items: center;

  color: #4f2d59;
  font-family: "mainFont";
  font-size: 20px;
}

.forget label {
  display: flex;
  align-items: center;
}

.forget label p {
  margin-left: 8px;
}

.forget a:hover {
  color: #dadada;
}

.no-acc {
  text-align: center;
  font-family: "mainFont";
  font-size: 20px;
}

.no-acc a:hover {
  color: #dadada;
}

#rememberid {
  margin-right: 15px;
}

#rememberid label {
  gap: 10px;
}

#remember {
  accent-color: #4f2d59;
}

.btn-primary {
  background-color: #5e4080 !important;
}

.btn-lg {
  font-family: "mainFont";
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

/* signup.html */

.sgn-container {
  box-sizing: border-box;
  background-color: #8c8ca4;
  padding: 10px 30px;
  background: #ab9dc9 linear-gradient(135deg, #ab9dc9, #86759b);
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 1);

  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 500px;
  margin-top: 45px;

  font-family: "mainFont";
  font-size: 20px;
  color: #4f2d59;
}

.form-signin-heading,
.checkbox {
  text-align: center;
  margin-bottom: 15px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
}

input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-sgn {
  text-align: center;
  margin-bottom: 10px;
}

.pass2-div {
  margin-bottom: 20px;
}

.have-acc {
  text-align: center;
  font-family: "mainFont";
  font-size: 20px;
}

.have-acc a {
  color: #4f2d59;
}

.have-acc a:hover {
  color: #dadada;
}

/* profile.html */

.pfp-container{
  width: 100%;
  height: 100vh;
  background-image: cover;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-box{
  background:#4f2d59;
  text-align: center;
  padding: 40px 90px;
  color: #fff;
  position: relative;
  border-radius: 20px;
}

.p-menu{
  width: 25px;
  position: absolute;
  right: 40px;
  top: 40px;
}

.p-settings{
  width: 25px;
  position: absolute;
  right: 40px;
  top: 40px;
}
.profile-pic{
  width: 150px;
  border-radius: 50%;
  background: #5e4080;
  padding: 6px;
  
}

.character{
  width: 150px;
  border-radius: 50%;
  background: #5e4080;
  padding: 6px;
  
}