{% extends "base.html" %} {% block title %}SignUp{% endblock %}
{% block body %}

    <h1>Sign Up</h1>
    <input type="text" name="" placeholder="First Name">
    <input type="text" name="" placeholder="Last name">
    <input type="text" name="" placeholder="Username">
    <input type="email" name="" placeholder="Email">
    <input type="password" name="" placeholder="Password">
    <input type="password" name="" placeholder="Confirm Password">
    <button type="submit">Sign Up</button>
    
{% endblock %}