{% extends "base.html" %} {% block title %}Forgot Password{% endblock %} {% block body
%}
      
<div class="lg-container" id="fade-in">
  <form class="form-signin">
    <h1 class="form-signin-heading">Forgot Password</h1>

    <div class="form-group">
      <label for="password1">Password</label>
        <input
          type="password"
          class="form-control"
          id="password1"
          name="password1"
          placeholder="Enter password"
        />
    </div>

    <div class="form-group">
      <label for="password2">Password (Confirm)</label>
        <input
          type="password"
          class="form-control"
          id="password2"
          name="password2"
          placeholder="Confirm password"
        />
    </div>

    <div class="btn-sgn">
      <button type="submit" class="btn btn-primary">Confirm New Password</button>
    </div>
  </form>
</div>
{% endblock %}