{% extends "base.html" %} {% block title %}Space Jump!{% endblock %} {% block body
%}

<div class="game-container">
  <h1>A fun little break!</h1>

  <div class="game">
    <div id="char"></div>
    <span id="gameover"></span>
    <div id="ufo"></div>
  </div>

  <div>
    <h2>Score: <span id="score">0</span></h2>
  </div>

  <button>
    <a href="{{ url_for( 'views.home' ) }}">
      <button class="btn btn-primary btn-block">Return</button>
    </a>
  </button>
</div>

<script src="{{ url_for('static', filename='game.js') }}"></script>

{% endblock %}
