{% extends "base.html" %} {%block title %}Home{% endblock %} {% block body %}

<div class="pomo-parent-container">
  <div class="pomo-container">
    <button id="focus" class="btn-pomo btn-timer btn-focus">Focus</button>
    <button id="shortbreak" class="btn-pomo btn-shortbreak">Short Break</button>
  </div>
  <div class="time-container">
    <span id="time"> <p>25:00</p> </span>
    <div class="btn-container">
      <button id="btn-start" class="show">Start</button>
      <button id="btn-pause" class="hide">Pause</button>
      <button id="btn-reset" class="hide">
        <i class="fa-solid fa-arrow-rotate-right"></i>
      </button>
    </div>
  </div>
</div>

{% endblock %}
