{% extends "base.html" %} {%block title %}Home{% endblock %}{% block body
%}

<div class="pomo-parent-container">
    <div class="pomo-container">
      <button id="focus" class="btn-pomo btn-timer btn-focus">Focus</button>
      <button id="shortbreak" class="btn-pomo btn-shortbreak">Short Break</button>
    </div>
    <div class="time-container">
      <span id="time"> <p>25:00</p> </span>
      <div class="btn-container">
        <button id="btn-start" class="show">Start</button>
        <button id="btn-pause" class="hide">Pause</button>
        <button id="btn-reset" class="hide">
          <i class="fa-solid fa-arrow-rotate-right"></i>
        </button>
      </div>
    </div>
  </div>
  <h1 style="color: white;">Notes</h1>
  <ul id="notes">
    {% for note in user.notes %}
    <li class="pomo-parent-container" style="box-sizing: border-box; background-color: #341c4c; color: #dadada; padding: auto;">
        {{ note.data }}
        <button type="button" class="close" onClick="deleteNote('{{ note.id }}')">
        <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
    <form method="POST"></form>
      </ul>
      <textarea name="note" id="note" style="background-color: #341c4c;color: #dadada;"></textarea>
      <br />
      <div>
          <button type="submit" style="text-align: center;" onclick="addnote( noteId  )">Add Note</button>
      </div>
    </form>
{% endblock %}
