{% extends "base.html" %} {%block title %}Home{% endblock %}{% block body %}

<div class="pomo-parent-container">
  <div class="pomo-container">
    <button id="focus" class="btn-pomo btn-timer btn-focus">Focus</button>
    <button id="shortbreak" class="btn-pomo btn-shortbreak">Short Break</button>
  </div>
  <div class="time-container">
    <span id="time"> <p>25:00</p> </span>
    <div class="btn-container">
      <button id="btn-start" class="show">Start</button>
      <a href="{{ url_for( 'views.game' ) }}">
        <button id="btn-game" class="hide">Play a game!</button>
      </a>
      <button id="btn-pause" class="hide">Pause</button>
      <button id="btn-reset" class="hide">
        <i class="fa-solid fa-arrow-rotate-right"></i>
      </button>
    </div>
  </div>
</div>

<!-- to do list !! -->

<div class="td-container">
  <div class="todo">
    <h1>To-Do List</h1>
    <div class="row">
      <input type="text" id="input-todo" placeholder="Add your to-do!" />
      <button class="btn btn-primary" onclick="addTask()">Add</button>
    </div>

    <ul id="list-container">
      <!-- <li class="checked">Task 1</li>
      <li>Task 2</li>
      <li>Task 3</li> -->
    </ul>
  </div>
</div>

{% endblock %}
