{% extends "base.html" %} {% block title %}Log In{% endblock %} {% block body %}

<div class="lg-container" id="fade-in">
  <form class="form-signin">
    <h1 class="form-signin-heading">Login</h1>

    <div class="input-field">
      <input
        type="text"
        class="form-control"
        name="username"
        placeholder="username"
        required
        autofocus=""
      />
    </div>
    <div class="input-field">
      <input
        type="password"
        class="form-control"
        name="password1"
        placeholder="Password"
        required
      />
    </div>

    <div class="forget">
      <div id="rememberid">
        <label for="remember">
          <input
            type="checkbox"
            value="remember-me"
            id="remember"
            name="rememberMe"
          />
          Remember me
        </label>
      </div>
      <div>
        <a href="#">Forgot password?</a>
      </div>
    </div>

    <div class="btn-lg">
      <button type="submit" class="btn btn-primary btn-block">Login</button>
    </div>

    <div class="no-acc">
      <p>
        Don't have an account?
        <a href="{{ url_for( 'views.sign_up' ) }}">Register</a>
      </p>
    </div>
  </form>
</div>

{% endblock %}