{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block body
%}

<!-- <body class="login">
  <div class="lg-container">
    <form class="form-signin">
      <h1 class="form-signin-heading">Please Login</h1>

      <div class="input-field">
        <input
          type="text"
          class="form-control"
          name="username"
          placeholder="Email Address"
          required
          autofocus=""
        />
      </div>
      <div class="input-field">
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="Password"
          required
        />
      </div>

      <div class="forget">
        <label for="remember">
          <input
            type="checkbox"
            value="remember-me"
            id="remember"
            name="rememberMe"
          />
          Remember me
        </label>

        <a href="#">Forgot password?</a>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Login
      </button>

      <br />

      <div>
        <p>Don't have an account? <a href="#">Register</a></p>
      </div>
    </form>
  </div>
</body> -->

<!-- Modal -->
 
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">


      <div class="modal-header">
        <h1
          class="form-signin-heading modal-title fs-5"
          id="staticBackdropLabel"
        >
          Please login
        </h1>
        
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>


      <div class="modal-body">

        <div class="lg-container">
          <form class="form-signin">
            <div class="input-field">
              <input
                type="text"
                class="form-control"
                name="username"
                placeholder="Email Address"
                required
                autofocus=""
              />
            </div>
            <div class="input-field">
              <input
                type="password"
                class="form-control"
                name="password"
                placeholder="Password"
                required
              />
            </div>

            <div class="forget">
              <label for="remember">
                <input
                  type="checkbox"
                  value="remember-me"
                  id="remember"
                  name="rememberMe"
                />
                Remember me
              </label>

              <a href="#">Forgot password?</a>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">
              Login
            </button>

            <br />

            <div>
              <p>Don't have an account? <a href="#">Register</a></p>
            </div>

          </form>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
