{% extends "base.html" %} {% block title %}Profile{% endblock %} {% block body %}

<div class="pfp-container">
    <div class="profile-box">
        <img src="C:\Users\amyfr\OneDrive\Documents\images\menu" class="p-menu">
        <img src="C:\Users\amyfr\OneDrive\Documents\images\settings" class="p-settings">
        <img src="C:\Users\amyfr\OneDrive\Documents\images\profile" class="profile-pic">
        <h6>Username: Bob1234</h6>
        <h6>Email: bob1234@gmail.com</h6>
        <h6>hours worked: 23 hours</h6>
        <button type="button">settings</button>
    </br>
        <img src="C:\Users\amyfr\OneDrive\Documents\images\" class="character">
        <h6>Name: Bob</h6>
    </div>
    
    
</div>
{% endblock %}