{% extends "base.html" %} {% block title %}Profile{% endblock %} {% block body
%}

<div class="p-container" id="fade-in">
  <div class="left"></div>
  <div class="right">
    <div class="info">
      <h3>Information</h3>
      <form method="POST">
        <div class="info_data">
          <div class="data">
            <h4>Email:</h4>
            <input
              type="email"
              name="email"
              value="{{ user.email }}"
              required
            />
          </div>
          <div class="data">
            <h4>Username:</h4>
            <input
              type="text"
              name="username"
              value="{{ user.username }}"
              required
            />
          </div>
        </div>

        <div class="Character">
          <h4>Select a Character:</h4>
          <select id="characterSelect">
            <option
              value="astro"
              data-img="{{url_for('static', filename='astro.png')}}"
            >
              Astro
            </option>
            <option
              value="girl"
              data-img="{{url_for('static', filename='girl.png')}}"
            >
              Girl
            </option>
            <option
              value="guy"
              data-img="{{url_for('static', filename='guy.png')}}"
            >
              Guy
            </option>
          </select>

          <img
            id="characterPreview"
            src="{{url_for('static', filename='astro.png')}}"
            alt="Character Image"
            style="width: 100px"
          />
        </div>
        <div class="btn-lg">
          <button type="submit" class="btn btn-primary">Update Profile</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
