 {% extends "base.html" %} {% block title %}Profile{% endblock %} {% block body
%}

<div class="p-container" id="fade-in">
  <div class="left">
    <div class="icon">
      <i class="fa-solid fa-pen-to-square"></i>
    </div>
  </div>
  <div class="right">
    <div class="info">
      <h3>Information</h3>
      <form method="POST" action="/profile">
        <div class="info_data">
          <div class="data">
            <h4>Email:</h4>
            <input type="email" name="email" value="{{ user.email }}" required>
          </div>
          <div class="data">
            <h4>Username:</h4>
            <input type="text" name="username" value="{{ user.username }}" required>
          </div>
        </div>
        <div class="Character">
          <h4>Select a Character:</h4>
          <Select name="character" id="SelectCharacter">
            <option value="astro.png">Astro</option>
            <option value="Girl.png">Girl</option>
            <option value="Guy.png">Guy</option>
          </select>
        </div>
        <button type="submit">Update Profile</button>
      </form>
    </div>
  </div>

</div>

{% endblock %}