{% extends "base.html" %} {% block title %}Settings{% endblock %} {% block body
%}

<div class="st-container" id="fade-in">
  <form>
    <table width="900" cellpadding="0" cellspacing="0" align="center"></table>
  </form>

  <div>
    <label for="togg-s" class="togg-label">
      <span>Sound</span>
      <input type="checkbox" name="togg-s" id="togg-s" checked />
      <div class="toggle-container">
        <span class="toggle"></span>
        <span class="toggle-c"></span>
      </div>
    </label>
  </div>

  <div class="custom-opt">
    <label for="sound-options">Sound Options:</label>
    <select id="sound-options" class="form-select" aria-label="Sound options">
      <option value="1" sound="{{url_for('static', filename='A Lonely Cherry Tree.mp3')}}">A lonely Cherry Tree</option>
      <option value="2" sound="{{url_for('static', filename='A Lost Soul.mp3')}}">A Lost Soul</option>
      <option value="3" sound="{{url_for('static', filename='No Destination.mp3')}}">No Destination</option>
      <option value="4" sound="{{url_for('static', filename='Begin Your Journey.mp3')}}">Begin Your Journey</option>
    </select>
  </div>


    <br />

    <div>
      <span>Volume</span>
      <input type="range" id="volbar" name="vol" min="0" max="100" />
    </div>

    <br />

    <div>
      <label for="togg-bg" class="togg-label">
        <span>Background</span>
        <input type="checkbox" name="togg-bg" id="togg-bg" checked />
        <div class="toggle-container">
          <span class="toggle"></span>
          <span class="toggle-c"></span>
        </div>
      </label>
    </div>

    <div class="custom-opt">
      <div class="dropdown-center">
        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          id="bg-choices"
        >
          Background Options
        </button>
        <ul class="dropdown-menu" id="bg-choices">
          <li>
            <button value="1" class="dropdown-item" type="button">
              Background 1
            </button>
          </li>
          <li>
            <button value="2" class="dropdown-item" type="button">
              Background 2
            </button>
          </li>
          <li>
            <button value="3" class="dropdown-item" type="button">
              Background 3
            </button>
          </li>
          <li>
            <button value="4" class="dropdown-item" type="button">
              Background 4
            </button>
          </li>
        </ul>
        
      </div>
      <br />
    </div>

    <div class="stg-btn">
      <input type="submit" class="btn btn-primary btn-block" id="save" value="Save" />
    </div>
  </div>

  <script src="{{ url_for('static', filename='audio.js')}}"></script>
  {% endblock %}
</div>
